.emailList {
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid whitesmoke;
  height: 90%;
  scroll-behavior: smooth;
}
.emailList::-webkit-scrollbar {
  display: none;
}
.emailList__list {
  padding-bottom: 10%;
}
.emailList__settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}
.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: solid 1px whitesmoke;
  background-color: white;
  z-index: 999;
}
